<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Validator</title>
    <th:block th:fragment="validatorHead">
        <script th:inline="javascript">
            let validators = [];
            $(document).ready(function() {
                $('#validator')
                    .on('click', '.new-item', function() {
                      let fieldId = getFieldId() || $('#feature-field-list li:first').attr('id').split('_')[0];
                      if(fieldId && !isNaN(fieldId)) {
                         $('#validator').load(`/fieldValidatorUI/field-validators/${fieldId}/new`, function(response, status, xhr) {
                         if(status === 'error') {
                             toasterMessageBy(xhr.status)
                          } else {
                            /*<![CDATA[*/
                                 validators = /*[[${validators}]]*/[];
                            /*]]>*/
                          }
                         });
                      }
                    });
            });
        </script>

        <link rel="stylesheet" th:href="@{/css/features/fieldvalidator/view/view-pane/validator/validator.css}">
        <th:block th:replace="shared/widgets/list-item-multi :: listItemHead"></th:block>
        <th:block th:insert="~{features/fieldvalidator/add/right-pane/validator/list-validator :: listValidatorHead}">
        </th:block>
        <th:block th:insert="~{features/fieldvalidator/view/view-pane/validator/list-validator :: listValidatorHead}">
        </th:block>
        <th:block th:insert="~{features/fieldvalidator/view/view-pane/validator/validator-props :: validatorPropsHead}">
        </th:block>
        <script th:src="@{/js/features/fieldvalidator/add/right-pane/validator/add-field-validator.js}"></script>
        <script th:src="@{/js/features/fieldvalidator/view/view-pane/validator/validator.js}"></script>
    </th:block>
</head>

<body>
    <div th:fragment="validator" id="validator">
        <div class="row validator-props">
            <div class="col-lg-5 validator-types">
                <button class="btn btn-primary new-item">
                    <em class="fas fa-plus-circle">
                    </em>
                </button>
                <th:block
                    th:insert="~{features/fieldvalidator/view/view-pane/validator/list-validator :: listValidator(${validatorTypes})}">
                </th:block>
            </div>
            <div class="col-lg-7 validator-info">
                <th:block th:fragment="validatorInfo"
                    th:insert="~{features/fieldvalidator/view/view-pane/validator/validator-props :: validatorProps(${validatorInfo})}">
                </th:block>
            </div>
        </div>
    </div>
</body>

</html>