<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
  <head>
    <title>
      Field validator
    </title>
  </head>
  <body>
  <th:block layout:fragment="content">
    <div th:replace="core/layouts/main :: main"></div>
  </th:block>
  <th:block th:fragment="errorMessage">
    <span class="error-message" th:text="${message}" ></span>
    </div>
  </th:block>
  </body>
</html>
