<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE "></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, shrink-to-fit = no"
    />
    <!-- Bootstrap -->
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" th:href="@{/css/core/layouts/field-validator-main.css}" />
    <script
            th:src="@{/js/shared/util/string-manipulation.js}"
    ></script>

    <script
            th:src="@{/js/shared/constant/field-constant.js}"
    ></script>

    <script
            th:src="@{/js/shared/util/form-validator.js}"
    ></script>

    <script
            th:src="@{/js/shared/util/url-fetch.js}"
    ></script>

    <script
            th:src="@{/js/shared/util/toaster.js}"
    ></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <th:block th:replace="core/layouts/header :: headerHead"></th:block>

    <th:block th:replace="core/layouts/main :: mainHead"></th:block>

    <th:block th:replace="core/layouts/footer :: footerHead"></th:block>
    <title>
        Thymeleaf demo
    </title>
    <script
            defer
            src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
            integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
            crossorigin="anonymous"
    ></script>
    <script
            defer
            src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
            integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
            crossorigin="anonymous"
    ></script>
</head>
<body>
<div class="wrapper">
    <div id="content">
        <div th:replace="core/layouts/header :: header"></div>
        <section layout:fragment="content">
            <p>This is filled by the content template.</p>
        </section>
        <div th:replace="core/layouts/footer :: footer"></div>
    </div>
</div>
</body>
</html>