#widget-switch .switch-field {
	 display: flex;
	 overflow: hidden;
	 padding-top: 0.5rem;
	 justify-content: center;
}
 #widget-switch .switch-field input {
	 position: absolute !important;
	 clip: rect(0, 0, 0, 0);
	 height: 1px;
	 width: 1px;
	 border: 0;
	 overflow: hidden;
}
 #widget-switch .switch-field input:checked + label {
	 color: #ffffff;
	 background-color: #019fb6;
	 box-shadow: none;
}
 #widget-switch .switch-field label {
      border-radius: 0;
	 background-color: #00525e;
	 color: white;
	 font-size: 14px;
	 line-height: 1;
	 text-align: center;
	 padding: 8px 16px;
	 margin-right: -1px;
	 border: 1px solid rgba(0, 0, 0, 0.2);
	 box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	 transition: all 0.1s ease-in-out;
}
 #widget-switch .switch-field label:hover {
	 cursor: pointer;
}
