<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>New Field</title>
    <th:block th:fragment="fieldInfoHead">
        <link rel="stylesheet" th:href="@{/css/features/fieldvalidator/add/right-pane/field/add-field.css}">
        <th:block th:replace="~{shared/widgets/article-main :: articleMainHead}"></th:block>
    </th:block>
</head>

<body>
    <div class="m-tp-25p" th:fragment="fieldAdd" id="add-field">
        <div class="form-group">
            <div class="input-addon">
                <label class="m-lt-12p"
                       th:for="${T(com.satish.fieldvalidator.ui.util.FieldFormConstant.FieldKey).ID}"><strong>Field
                    key</strong><sup class="required-field">*</sup></label>
                <input th:placeholder="${T(com.satish.fieldvalidator.ui.util.FieldFormConstant.FieldKey).PLACEHOLDER}"
                       th:maxlength="${T(com.satish.fieldvalidator.ui.util.FieldFormConstant.FieldKey).MAX_LENGTH}"
                       th:minlength="${T(com.satish.fieldvalidator.ui.util.FieldFormConstant.FieldKey).MIN_LENGTH}"
                       th:id="${T(com.satish.fieldvalidator.ui.util.FieldFormConstant.FieldKey).ID}"
                       th:type="${T(com.satish.fieldvalidator.ui.util.FieldFormConstant.FieldKey).TYPE}"
                       th:name="${T(com.satish.fieldvalidator.ui.util.FieldFormConstant.FieldKey).NAME}"
                       class="form-control">
            </div>
        </div>

        <div class="form-group">
            <div class="input-addon">
                <label class="m-lt-12p"
                       th:for="${T(com.satish.fieldvalidator.ui.util.FieldFormConstant.FieldName).ID}"><strong>Field
                    name</strong><sup class="required-field">*</sup></label>
                <input th:placeholder="${T(com.satish.fieldvalidator.ui.util.FieldFormConstant.FieldName).PLACEHOLDER}"
                       th:maxlength="${T(com.satish.fieldvalidator.ui.util.FieldFormConstant.FieldName).MAX_LENGTH}"
                       th:minlength="${T(com.satish.fieldvalidator.ui.util.FieldFormConstant.FieldName).MIN_LENGTH}"
                       th:id="${T(com.satish.fieldvalidator.ui.util.FieldFormConstant.FieldName).ID}"
                       th:type="${T(com.satish.fieldvalidator.ui.util.FieldFormConstant.FieldName).TYPE}"
                       th:name="${T(com.satish.fieldvalidator.ui.util.FieldFormConstant.FieldName).NAME}"
                       class="form-control">
            </div>

        </div>

        <div class="form-group">
            <div class="input-addon">
                <label class="m-lt-12p"
                       th:for="${T(com.satish.fieldvalidator.ui.util.FieldFormConstant.FieldLabel).ID}"><strong>Label</strong><sup
                        class="required-field">*</sup></label>
                <input
                        th:placeholder="${T(com.satish.fieldvalidator.ui.util.FieldFormConstant.FieldLabel).PLACEHOLDER}"
                        th:maxlength="${T(com.satish.fieldvalidator.ui.util.FieldFormConstant.FieldLabel).MAX_LENGTH}"
                        th:minlength="${T(com.satish.fieldvalidator.ui.util.FieldFormConstant.FieldLabel).MIN_LENGTH}"
                        th:id="${T(com.satish.fieldvalidator.ui.util.FieldFormConstant.FieldLabel).ID}"
                        th:type="${T(com.satish.fieldvalidator.ui.util.FieldFormConstant.FieldLabel).TYPE}"
                        th:name="${T(com.satish.fieldvalidator.ui.util.FieldFormConstant.FieldLabel).NAME}"
                        class="form-control">
            </div>

        </div>

        <div class="form-group">
            <div class="input-addon">
                <label class="m-lt-12p"
                       th:for="${T(com.satish.fieldvalidator.ui.util.FieldFormConstant.FieldPlaceholder).ID}"><strong>Placeholder</strong></label>
                <input
                        th:placeholder="${T(com.satish.fieldvalidator.ui.util.FieldFormConstant.FieldPlaceholder).PLACEHOLDER}"
                        th:maxlength="${T(com.satish.fieldvalidator.ui.util.FieldFormConstant.FieldPlaceholder).MAX_LENGTH}"
                        th:minlength="${T(com.satish.fieldvalidator.ui.util.FieldFormConstant.FieldPlaceholder).MIN_LENGTH}"
                        th:id="${T(com.satish.fieldvalidator.ui.util.FieldFormConstant.FieldPlaceholder).ID}"
                        th:type="${T(com.satish.fieldvalidator.ui.util.FieldFormConstant.FieldPlaceholder).TYPE}"
                        th:name="${T(com.satish.fieldvalidator.ui.util.FieldFormConstant.FieldPlaceholder).NAME}"
                        class="form-control">
            </div>
        </div>
    </div>
</body>

</html>