<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="actionBarHead">
        <th:block th:replace ="shared/widgets/toggle-button :: toggleButtonHead"></th:block>
        <link rel="stylesheet" th:href = "@{/css/shared/widgets/list-item-widgets/action-bar.css}">
    </th:block>
</head>
<body>
<div th:fragment = "itemToggleButton(isChecked)" id="widget-item-toggle-button">
    <div th:replace ="shared/widgets/toggle-button :: toggleButton(${isChecked})"></div>
</div>
</body>
</html>

