<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="topBarHead">
        <th:block th:replace ="shared/widgets/switch :: switchHead"></th:block>
        <link rel="stylesheet" th:href = "@{/css/shared/widgets/list-item-widgets/top-bar.css}">
    </th:block>
</head>
<body>
<div th:fragment = "itemSwitch(switches)" id="widget-item-switch">
    <div th:replace ="shared/widgets/switch :: switch(${switches})"></div>
</div>
</body>
</html>

