<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Field Validator</title>
    <th:block th:fragment="validatorHead">

        <link rel="stylesheet"
            th:href="@{/css/features/fieldvalidator/add/right-pane/validator/add-field-validator.css}">
        <th:block th:insert="~{features/fieldvalidator/add/right-pane/validator/list-validator :: listValidatorHead}">
        </th:block>

        <script th:inline="javascript">
            /*<![CDATA[*/
            let validators = /*[[${validators}]]*/[];
             /*]]>*/
        </script>

        <script th:src="@{/js/features/fieldvalidator/add/right-pane/validator/add-field-validator.js}"></script>

    </th:block>
</head>

<body>
    <div th:fragment="validator" id="validator">
        <div th:fragment="newValidator" th:with="showCancelButton= ${showCancelButton}" class="row validator-props">

            <div class="col-lg-4 validator-types">
                <th:block th:if="${showCancelButton}">
                    <button type="button" class="btn btn-danger cancel-add-item">
                        <em class="fas fa-times-circle"></em>
                    </button>
                </th:block>
                <th:block
                    th:insert="~{features/fieldvalidator/add/right-pane/validator/list-validator :: listValidator(${validatorTypes})}">
                </th:block>
            </div>
            <div id="validator-info" class="col-lg-8 validator-info">
            </div>
        </div>
    </div>

    <form class="add-field-validator" th:fragment="addValidator">
        <div class="card">
            <div class="card-body" th:insert="~{::newValidator(showCancelButton = true)}">
            </div>
            <div class="card-footer">
            </div>
        </div>
    </form>
</body>

</html>