
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Validator</title>
    <th:block th:fragment = "listValidatorHead">
        <link rel="stylesheet" th:href = "@{/css/features/fieldvalidator/view/view-pane/validator/list-validator.css}">
        <th:block th:replace="shared/widgets/list-item-multi :: listItemHead"></th:block>
    </th:block>
</head>
<body>
<div th:fragment = "listValidator(items)" id="listValidator">
    <div th:replace ="~{shared/widgets/list-item-multi :: itemList(items = ${items})}"></div>
</div>
</body>
</html>