.lst {
  height: 100%;
}

.lst li {
  padding-bottom: 10px;
  margin-top: 20px;
  border-bottom: 1px solid #69696947;
}
.lst li .info {
  padding: 15px;
  margin-bottom: 8px;
  transition: 0.5s;
  cursor: pointer;
}
.lst li .info:hover {
  background-image: linear-gradient(to right, #8b8b8b, #f7f7f7);
  color: white;
  border-right: 8px solid;
  border-right-color: #019fb6;
}

.lst li .info:hover > .row .list-item .sub-info {
  color: #e4e4e4;
}

.lst li .info.active {
  background-image: linear-gradient(to right, #8b8b8b, #f7f7f7);
  color: white;
  border-right: 8px solid;
  border-right-color: #029a00;
}

.lst li .info.active > .row .list-item .sub-info {
  color: #e4e4e4;
}

.lst li .info .row .list-item {
  display: flex;
}
.lst li .info .row .list-item .content {
  width: 72%;
  display: inline-grid;
}
.lst li .info .row .list-item .main-info {
  margin-bottom: 6px;
  display: block;
}
.lst li .info .row .list-item .sub-info {
  color: #5d5d5d;
}

.lst li .info .row .list-item .right-action {
  width: 28%;
  height: 100%;
  display: grid;
  place-items: center;
}
.lst li .info .row .list-item .right-action.active {
  padding-left: 8px;
}
.lst {
  height: 100%;
  color: black;
  background-image: linear-gradient(
    to top right,
    #ffffff,
    #cccbcb,
    #c3c3c3,
    #eaeaea
  );
}
.lst ul {
  width: 100%;
  max-height: 80%;
  overflow: hidden;
  margin-bottom: 60px;
}
.lst ul:hover {
  overflow-y: auto;
}

.lst li a {
    color: black;
}
.lst li a:hover {
    text-decoration: none;
}