<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List validator</title>
    <th:block th:fragment="listValidatorHead">
        <th:block th:replace="shared/widgets/default-list-item :: defaultListItemHead"></th:block>
        <link rel="stylesheet" th:href="@{/css/features/fieldvalidator/view/view-pane/validator/list-validator.css}" />
        <script th:src="@{/js/features/fieldvalidator/view/view-pane/validator/list-validator.js}">
        </script>
    </th:block>

</head>

<body>

    <div id="listValidator" th:fragment="listValidator(validatorTypes)">
        <div th:replace="shared/widgets/default-list-item :: itemList(listInfoBar = ~{::plainList})">
            <th:block th:fragment = "plainList">
                <th:block th:each="item : ${validatorTypes}">
                    <div th:replace="~{shared/widgets/list-item-widgets/list-info-bar ::
                    plainList(
                    item = ${item},
                    actionBar = ~{shared/widgets/list-item-widgets/action-bar :: itemToggleButton(${item.checked})}
                    )}"></div>
                </th:block>
            </th:block>
        </div>
    </div>
</body>

</html>