<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Valiator props</title>
    <th:block th:fragment="validatorPropsHead">
        <link rel="stylesheet" th:href="@{/css/features/fieldvalidator/view/view-pane/validator/validator-props.css}">
        <script th:src="@{/js/features/fieldvalidator/view/view-pane/validator/validator-props.js}"></script>
    </th:block>
</head>

<body>
    <div th:fragment="validatorProps(validatorInfo)" id="validatorProps">
        <div th:fragment="fieldInfoArticle" th:replace="~{shared/widgets/article-main :: articleMain(~{::articleSub})}">
            <th:block th:fragment="articleSub" th:each="article : ${validatorInfo}">
                <th:block th:insert="~{shared/widgets/article-widgets/article-sub :: articleSub(articleContent=${article},
                 actionFrag=~{::actionFrag},
                 contentFrag=~{::articleContentFrag})}">

                    <th:block th:fragment="articleContentFrag" th:insert="~{shared/widgets/article-widgets/article-sub :: articleContentFrag(articleContent=${article})}">
                    </th:block>

                    <th:block th:fragment="actionFrag" th:insert="~{shared/widgets/article-widgets/article-sub :: articleActionFrag}">
                    </th:block>

                </th:block>
            </th:block>
        </div>

    </div>
</body>

</html>