<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:fragment="listItemHead">
        <link rel="stylesheet" th:href="@{/css/shared/widgets/list-item.css}">
        <th:block th:replace="shared/widgets/list-item-widgets/top-bar :: topBarHead"></th:block>
        <th:block th:replace="shared/widgets/list-item-widgets/bottom-bar :: bottomBarHead"></th:block>
        <th:block th:replace="shared/widgets/list-item-widgets/action-bar :: actionBarHead"></th:block>
        <script th:src="@{/js/shared/widgets/list-item.js}"></script>
    </th:block>

</head>

<body>
    <div th:fragment="itemList(items)" th:with="bottomBar = ${bottomBar},
      actionBar = ${actionBar},
      topBar = ${topBar},
      listID = ${listID}" class="h-100" th:id="${listID} ?: 'widget-list-item'">

        <div class="lst">
            <th:block th:if="${topBar}  != null">
                <div th:replace="${topBar}"></div>
            </th:block>
            <ul class="list-unstyled components">
                <th:block th:each="item : ${items}" th:object="${item}">
                    <li th:id="*{id}">
                        <a th:href="@{*{href}}">
                         <div class="info">
                            <div class="row">
                                <div class="col-lg-12 list-item">
                                    <div class="content">
                                        <strong class="main-info" th:text="*{mainInfo}"></strong>
                                        <div th:each="subInfo :*{subInfos}" class="sub-info">
                                            <small th:text="${subInfo}"></small>
                                        </div>
                                    </div>
                                    <div class="right-action">
                                        <div class="action-bar">
                                            <div class="list-action">
                                                <th:block th:if="${actionBar} != null">
                                                    <div th:replace="${actionBar}">
                                                    </div>
                                                </th:block>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </li>
                </th:block>
            </ul>
            <th:block th:if="${bottomBar} != null">
                <div th:replace="${bottomBar}"></div>
            </th:block>
        </div>
    </div>
</body>

</html>