<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>List Item Multi Select</title>
    <th:block th:fragment="listItemHead">
        <link rel="stylesheet" th:href="@{/css/shared/widgets/list-item.css}">
        <th:block th:replace="shared/widgets/list-item-widgets/top-bar :: topBarHead"></th:block>
        <th:block th:replace="shared/widgets/list-item-widgets/bottom-bar :: bottomBarHead"></th:block>
        <th:block th:replace="shared/widgets/list-item-widgets/action-bar :: actionBarHead"></th:block>
    </th:block>

</head>

<body>
    <div id="list-item-multi" th:fragment="itemList(items)" th:with="bottomBar = ${bottomBar},
      actionBar = ${actionBar},
      topBar = ${topBar}">

        <th:block th:insert="~{shared/widgets/list-item :: itemList(items = ${items},
    bottomBar =${bottomBar},
    actionBar = ${actionBar},
    topBar = ${topBar},
    listID = 'widget-list-item-multi')}"></th:block>
    </div>
</body>

</html>