<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment = "searchBarHead">
        <link  rel="stylesheet" th:href = "@{/css/shared/widgets/search.css}">
    </th:block>
</head>
<body>
<div th:fragment = "searchBar" th:with = "placeholder = ${placeholder} ?: 'Enter a keyword to search'" id="widget-search-bar">
    <div class="form-group search-bar">
        <div class="input-addon left-addon">
            <input
                    class="form-control"
                    th:placeholder="${placeholder}"
                    type="text"
            />
            <i class="fas fa-search"></i>
        </div>
    </div>
</div>
</body>
</html>

