<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment = "toggleButtonHead">
        <link  rel="stylesheet" th:href = "@{/css/shared/widgets/toggle-button.css}">
    </th:block>

</head>
<body>
<div th:fragment = "toggleButton(isChecked)" id="widget-toggle-button">
    <label class="switch">
        <input type="checkbox" th:checked="${isChecked}" />
        <span class="slider round"></span>
    </label>
</div>
</body>
</html>

