#content {
  height: 100%;
  min-height: 100%;
  overflow: auto;
  width: 100%;
  position: absolute;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    right top,
    from(#d9d9d9),
    color-stop(#f2f2f2),
    color-stop(#d9d9d9),
    to(#cccccc)
  );
  background-image: linear-gradient(
    to top right,
    #d9d9d9,
    #f2f2f2,
    #d9d9d9,
    #cccccc
  );
}

input[type="text"]::-ms-clear {
  display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #content > div {
    height: 50%;
    min-height: 50%;
    overflow: auto;
    width: 50%;
    position: absolute;
    background-image: -webkit-gradient(
      linear,
      left bottom,
      right top,
      from(#d9d9d9),
      color-stop(#f2f2f2),
      color-stop(#d9d9d9),
      to(#cccccc)
    );
    background-image: linear-gradient(
      to top right,
      #d9d9d9,
      #f2f2f2,
      #d9d9d9,
      #cccccc
    );
  }
}
.required-field {
  color: red;
}

/**Button class start**/
.btn-primary {
  background-color: #019fb6;
  border-color: #019fb6;
}

.btn-primary:hover {
  background-color: #027e90;
  border-color: #027e90;
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #027e90;
  border-color: #027e90;
}
/**Button class end**/

/**Input add On feature start**/

.input-addon input {
  border: none;
  display: inline;
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
}

.input-addon input:focus {
  border: none;
  display: inline;
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
}

.input-addon:after {
  display: block;
  content: "";
  border-bottom: solid 1px #019fb6;
  transform: scaleX(1);
  transition: transform 250ms ease-in-out;
}

.input-addon input:focus {
  box-shadow: 0px 1px 10px 2px #5d5d5d;
  transition: box-shadow 250ms ease-in-out;
}

.input-addon:focus-within:after {
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
/**Input add On feature end**/

/**Sizing start**/
.m-lt-12p {
  margin-left: 12px;
}

.m-rt-12p {
  margin-right: 12px;
}

.m-tp-12p {
  margin-top: 12px;
}

.m-bm-12p {
  margin-bottom: 12px;
}

.m-tp-25p {
  margin-top: 25px;
}

.m-bm-25p {
  margin-bottom: 25px;
}

.m-lt-25p {
  margin-left: 25px;
}

.m-rt-25p {
  margin-right: 25px;
}
/**Sizing end**/

/**Customize scroll bar start**/
*::-webkit-scrollbar {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    to top right,
    #ffffff,
    #a19f9f,
    #c3c3c3,
    #767575
  );
  border-radius: 10px;
}
/**Customize scroll bar end**/

/**New item button start**/
.new-item {
  height: 28px;
  width: 28px;
  float: right;
  display: inline-flex;
  position: absolute;
  right: 2px;
  margin-top: -15px;
  background-color: white;
  color: #019fb6;
  padding: 0px;
  border: none;
  border-radius: 30px;
  font-size: 32px;
  z-index: 1;
  outline: none;
}

.new-item svg {
  margin: -2px;
}
.new-item:hover {
  background-color: #019fb6;
  color: white;
}
/**New item button end**/

/**Cancel new item button start**/
.cancel-add-item {
  height: 28px;
  width: 28px;
  float: right;
  display: inline-flex;
  position: absolute;
  right: 2px;
  margin-top: -15px;
  background-color: white;
  color: #c82333;
  padding: 0px;
  border: none;
  border-radius: 30px;
  font-size: 32px;
  z-index: 1;
  outline: none;
}

.cancel-add-item svg {
  margin: -2px;
}

.cancel-add-item:hover {
  background-color: #c82333;
  color: white;
}
/**Cancel new item button end**/

.input-error {
    color: red;
    margin-left: 12px;
}

/** toaster message start **/
.toaster-message {
    position: absolute;
    background-color: #6b6b6bde;
    z-index: 999;
    width: 0px;
    height: 0px;
    top: 25px;
    right: 2px;
    color: white;
    box-shadow: 0px 1px 16px 4px;
    border-radius: 5px;
    padding: 10px;
    opacity: 0;
    display:none;
}

.toaster-message .close-toaster {
    float: right;
    font-size: 25px;
}

.toaster-message.danger {
   background-color: #b70000c7;
}

.toaster-message.success {
   background-color: #029a00;
}

.toaster-message.warning {
   background-color: #a88c00;
}

.toaster-message .close-toaster:hover {
    cursor: pointer;
}
/**toaster message end**/