<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment = "fieldWithValidatorHead">
        <link rel="stylesheet" th:href = "@{/css/features/fieldvalidator/view/view-pane/field-with-validator.css}">
        <th:block th:insert = "~{features/fieldvalidator/view/view-pane/field/field-info :: fieldInfoHead}"></th:block>
        <th:block th:insert="~{features/fieldvalidator/view/view-pane/validator/validator :: validatorHead}"></th:block>
    </th:block>
</head>
<body>
<div th:fragment = "fieldWithValidator" class="h-100" id="fieldWithValidator">
    <div class="card h-100">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-4">
                    <th:block th:insert="~{features/fieldvalidator/view/view-pane/field/field-info :: fieldInfo}"></th:block>
                </div>
                <div class="col-lg-8">
                    <th:block th:insert="~{features/fieldvalidator/view/view-pane/validator/validator :: validator}"></th:block>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>