<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add field</title>
    <th:block th:fragment="newFieldHead">
        <th:block th:replace="features/fieldvalidator/add/left-pane/field-add-tracker :: fieldAddTrackHead"></th:block>
        <th:block
            th:replace="features/fieldvalidator/add/right-pane/add-field-with-validator :: fieldWithValidatorHead">
        </th:block>
        <link rel="stylesheet" th:href="@{/css/features/fieldvalidator/add/add.css}">
        <script rel="text/javascript" th:src="@{/js/features/fieldvalidator/add/add.js}"></script>
    </th:block>

</head>

<body>

    <div th:fragment="newField" class="h-100" id="add-main">
        <a th:href="@{/fieldValidatorUI}">
            <button class="btn btn-danger cancel-add-item">
                <em class="fas fa-times-circle"></em>
            </button>
        </a>
        <div class="row h-100">
            <div class="col-lg-3 field-list h-100 pr-0">
                <div th:replace="~{features/fieldvalidator/add/left-pane/field-add-tracker :: fieldAddTrack}"></div>
            </div>
            <div class="col-lg-9 field-info h-100">
                <div th:replace="features/fieldvalidator/add/right-pane/add-field-with-validator :: fieldWithValidator">
                </div>
            </div>
        </div>
    </div>
</body>

</html>