<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:fragment="fieldWithValidatorHead">
        <link rel="stylesheet" th:href="@{/css/features/fieldvalidator/add/right-pane/add-field-with-validator.css}" />
        <th:block th:insert="~{features/fieldvalidator/add/right-pane/field/add-field :: fieldInfoHead}"></th:block>
        <th:block th:insert="~{features/fieldvalidator/add/right-pane/validator/add-field-validator :: validatorHead}">
        </th:block>
    </th:block>
</head>

<body>
    <div th:fragment="fieldWithValidator" class="h-100" id="fieldWithValidator">
        <form>
            <div class="card h-100">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <th:block th:insert="~{features/fieldvalidator/add/right-pane/field/add-field :: fieldAdd}">
                            </th:block>
                        </div>
                        <div class="col-lg-8">
                            <th:block
                                th:insert="~{features/fieldvalidator/add/right-pane/validator/add-field-validator :: validator}">
                            </th:block>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="button-group">
                        <button type="submit" class="btn btn-primary">Add Field</button>
                        <a th:href="@{/fieldValidatorUI}">
                            <button th:src="field-validator" type="button" class="btn btn-danger">Cancel</button>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>

</html>