.widget-article-sub .article-content {
  padding: 10px;
}

.widget-article-sub .article-content .article-label {
  font-size: 1rem;
  font-weight: bolder;
  margin-left: 12px;
}

.widget-article-sub .article-content p {
  margin-left: 12px;
}

.widget-article-sub .article-prop {
  position: relative;
  width: 100%;
  color: black;
  border-bottom: 1px solid #d5d5d5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 1px solid #d5d5d5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 25px;
  box-shadow: 0px 0px 5px 0px #c6c6c6;
}

.widget-article-sub .article-action {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  color: #81c8fa;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-right: 8px;
  cursor: pointer;
}

.widget-article-sub .article-action > * {
  visibility: hidden;
  color: #019fb6;
}

.widget-article-sub .article-action:hover {
  border-right: 8px solid;
  border-right-color: #019fb6;
}

.widget-article-sub .article-action:hover > * {
  visibility: visible;
}

/*Edit Article css */
.widget-article-sub .edit-article {
  cursor: initial;
  margin: 0;
  display: grid;
}

.widget-article-sub .edit-article .input-buttons {
  min-height: 60px;
}

.widget-article-sub .edit-article .buttons {
  height: 30px;
  min-width: 35px;
  display: flex;
  float: right;
  margin-right: -10px;
  margin-top: 4px;
}

.widget-article-sub .edit-article .buttons button {
  border-radius: 20px;
  margin-bottom: 4px;
  margin-right: 4px;
  float: right;
  justify-content: center;
  width: 30px;
  height: 30px;
  display: flex;
  box-shadow: -1px 3px 10px 1px #545454;
  outline: none;
}
.widget-article-sub .edit-article .buttons .btn.btn-primary {
  background-color: #019fb6;
  border-color: #019fb6;
}
