<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:fragment="articleSubHead">
        <link rel="stylesheet" th:href = "@{/css/shared/widgets/article-widgets/article-sub.css}">
             <script type="text/javascript" th:src="@{/js/shared/widgets/article-widgets/article-sub.js}">
           </script>
    </th:block>
</head>
<body>
<div th:fragment="articleSub(articleContent)" th:with="actionFrag=${actionFrag},
contentFrag=${contentFrag}" class="widget-article-sub">
    <th:block th:object="${articleContent}" >
        <article th:if="${contentFrag} != null" th:id="*{id}" class="article-prop">
            <div class="article-content">
                <th:block th:insert="${contentFrag}"></th:block>
            </div>

            <th:block th:if="${actionFrag} != null">
                <th:block th:insert="${actionFrag}"></th:block>
            </th:block>

        </article>
    </th:block>
</div>


<th:block th:fragment="actionResultFrag(articleContent)" th:object="${articleContent}">
    <form class="form-group edit-article">
        <div class="input-buttons">
            <div class="input-addon">
                <label class="article-label" th:for="*{controlName}" th:text="*{label}">Label</label>
                <input th:name="*{controlName}" class="form-control" type = "text" th:value="*{value}" />
            </div>
            <div class="buttons">
                <button type="submit" class="btn btn-primary">
                    <em class="fas fa-check"></em>
                </button>
                <button type="button" class="btn btn-danger">
                    <em class="fas fa-times"></em>
                </button>
            </div>
        </div>
    </form>
</th:block>

<th:block th:fragment="contentFragWithAction(articleContent)">
    <div class="article-content">
        <th:block th:insert="~{::articleContentFrag(${articleContent})}"></th:block>
    </div>
    <th:block>
        <th:block th:insert="~{::articleActionFrag}"></th:block>
    </th:block>
</th:block>

<th:block th:fragment="articleActionFrag">
    <div class="article-action">
        <div>
            <em class="fas fa-pencil-alt"></em>
        </div>
    </div>
</th:block>

<th:block th:fragment="articleContentFrag(articleContent)" th:object="${articleContent}">
    <th:block>
        <h5 class="article-label" th:text="*{label}">Label</h5>
        <p th:text="*{value} ?: '-'">Value</p>
    </th:block>
</th:block>
</body>
</html>