<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Field info</title>
    <th:block th:fragment="fieldInfoHead">
        <link rel="stylesheet" th:href="@{/css/features/fieldvalidator/view/view-pane/field/field-info.css}">
        <th:block th:replace="~{shared/widgets/article-main :: articleMainHead}"></th:block>
        <script th:src="@{/js/features/fieldvalidator/view/view-pane/field/field-info.js}"></script>
    </th:block>
</head>

<body>
    <div th:fragment="fieldInfo" id="field-info">
        <div th:fragment="fieldInfoArticle" th:replace="~{shared/widgets/article-main :: articleMain(~{::articleSub})}">
            <th:block th:fragment="articleSub" th:each="article : ${fieldInfo}">
                <th:block th:insert="~{shared/widgets/article-widgets/article-sub :: articleSub(articleContent=${article},
                 actionFrag=~{::actionFrag},
                 contentFrag=~{::articleContentFrag})}">

                    <th:block th:fragment="articleContentFrag" th:insert="~{shared/widgets/article-widgets/article-sub :: articleContentFrag(articleContent=${article})}">
                    </th:block>

                    <th:block th:fragment="actionFrag" th:insert="~{shared/widgets/article-widgets/article-sub :: articleActionFrag}">
                    </th:block>

                </th:block>
            </th:block>
        </div>
    </div>
</body>

</html>