<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:fragment="fieldAddTrackHead">
      <link rel="stylesheet" th:href = "@{/css/features/fieldvalidator/add/left-pane/field-add-tracker.css}">
      <script type="text/javascript" th:src="@{/js/features/fieldvalidator/add/left-pane/field-add-tracker.js}"></script>
      <th:block th:replace="shared/widgets/list-item :: listItemHead"></th:block>
    </th:block>
  </head>
  <body>
    <div th:fragment="fieldAddTrack" class="h-100" id="field-add-tracker">
      <div
        th:replace="~{shared/widgets/list-item :: itemList(items = ${fields})}"
      ></div>
    </div>
  </body>
</html>
