<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="bottomBarHead">
        <th:block th:replace ="shared/widgets/search :: searchBarHead"></th:block>
        <link rel="stylesheet" th:href = "@{/css/shared/widgets/list-item-widgets/bottom-bar.css}">
    </th:block>
</head>
<body>
<div th:fragment = "itemSearchBar" id="widget-item-search">
    <div th:replace ="shared/widgets/search :: searchBar"></div>
</div>
</body>
</html>

