<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<th:block th:fragment = "plainList(item)" th:with="actionBar = ${actionBar}" th:object="${item}">
    <li th:id="*{id}">
        <a th:href="@{*{href}}">
            <div class="info">
                <div class="row">
                    <div class="col-lg-12 list-item">
                        <div class="content">
                            <strong class="main-info" th:text="*{mainInfo}"></strong>
                            <div th:each="subInfo :*{subInfos}" class="sub-info">
                                <small th:text="${subInfo}"></small>
                            </div>
                        </div>
                        <div class="right-action">
                            <div class="action-bar">
                                <div class="list-action">
                                    <th:block th:if="${actionBar} != null">
                                        <div th:replace="${actionBar}">
                                        </div>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </li>
</th:block>
</body>
</html>

