<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment = "fieldValidatorHead" >
         <th:block th:switch="${fragment}">
             <th:block th:case="'newField'">
                <th:block th:replace="features/fieldvalidator/add/add :: newFieldHead"></th:block>
             </th:block>
             <th:block th:case="'viewMain'">
                <th:block th:replace="features/fieldvalidator/view/view-main :: viewMainHead"></th:block>
             </th:block>
         </th:block>
        <link rel="stylesheet" th:href = "@{/css/features/fieldvalidator/field-validator.css}">
    </th:block>
</head>
<body>
<div th:fragment = "fieldValidator" class="h-100" id="field-validator">
    <th:block th:switch="${fragment}">
        <th:block th:case="'viewMain'">
            <div th:replace = "features/fieldvalidator/view/view-main :: ${fragment}"></div>
        </th:block>
    
        <th:block th:case="'newField'">
            <div th:replace = "features/fieldvalidator/add/add :: ${fragment}"></div>
        </th:block>
    </th:block>
</div>
</body>
</html>