<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:fragment="viewMainHead">
        <th:block th:replace="features/fieldvalidator/view/listpane/list-field :: fieldListHead"></th:block>
        <th:block th:replace="features/fieldvalidator/view/view-pane/field-with-validator :: fieldWithValidatorHead">
        </th:block>
        <link rel="stylesheet" th:href="@{/css/features/fieldvalidator/view/view-main.css}">
        <script th:src="@{/js/features/fieldvalidator/view/view-main.js}"></script>
    </th:block>
</head>

<body>
    <div th:fragment="viewMain" id="view-main">
        <a th:href="@{/fieldValidatorUI/new}">
            <button class="btn btn-primary new-item">
                <em class="fas fa-plus-circle">
                </em>
            </button>
        </a>
        <div class="row">
            <div class="col-lg-3 field-list">
                <div th:replace="features/fieldvalidator/view/listpane/list-field :: fieldList"></div>
            </div>
            <div class="col-lg-9 field-info">
                <div th:replace="features/fieldvalidator/view/view-pane/field-with-validator :: fieldWithValidator">
                </div>
            </div>
        </div>
    </div>
</body>

</html>