#fieldWithValidator .card {
  border: none;
  background-color: transparent;
}
#fieldWithValidator .card-body {
  max-height: 90%;
}

#fieldWithValidator .row,
#fieldWithValidator .card-body,
#fieldWithValidator .col-lg-4,
#fieldWithValidator .col-lg-8,
#fieldWithValidator form {
  height: 100%;
}
