#fieldWithValidator .card,
#fieldWithValidator .card-footer {
  border: none;
  background-color: transparent;
}

#fieldWithValidator .button-group {
  float: right;
}

#fieldWithValidator .card-body {
  max-height: 90%;
}

#fieldWithValidator .row,
#fieldWithValidator .card-body,
#fieldWithValidator .col-lg-4,
#fieldWithValidator .col-lg-8,
#fieldWithValidator form {
  height: 100%;
}
