#add-main {
  padding-right: 15px;
  overflow: auto;
}

#add-main .row .field-info {
  color: black;
  background-image: linear-gradient(
    to top right,
    #eaeaea,
    #f7f7f7,
    #f1f1f1,
    #eaeaea
  );
  overflow: auto;
}
