#view-main {
  padding-right: 15px;
  height: 100%;
  overflow: auto;
}

#view-main .row {
  height: 100%;
}

#view-main .row .field-list {
  padding-right: 0;
  height: 100%;
}

#view-main .row .field-info {
  height: 100%;
  color: black;
  background-image: linear-gradient(
    to top right,
    #eaeaea,
    #f7f7f7,
    #f1f1f1,
    #eaeaea
  );
  overflow: auto;
}
