#validator {
  margin-top: 25px;
}
#validator-info .message-value-pair {
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  border-left: none;
  border-right: none;
  border-top-width: 2px;
  border-top-color: white;
  padding-left: 15px;
  padding-right: 15px;
}
#validator,
.validator-types,
#listValidator,
#list-item-multi,
#validator-info,
.card {
  height: 100%;
}

#validator-info:hover {
  overflow-y: auto;
}
#validator-info {
  overflow-y: hidden;
}

#validator .card-footer {
  background-color: transparent;
  border: none;
}
#validator .button-group {
  float: right;
}

#validator .card-body {
  padding: 0;
}
