<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="mainHead">
        <link rel="stylesheet" th:href = "@{/css/core/layouts/main/main.css}">
        <th:block th:replace = "features/fieldvalidator/field-validator :: fieldValidatorHead"></th:block>
        <script type="text/javascript" th:src="@{/js/core/layouts/main.js}"></script>
    </th:block>
</head>
<body>
<main th:fragment = "main">
    <div class="toaster-message">
        <h6 class="sub-heading">Internal server error</h6>
    </div>
    <div class="container-fluid">
        <div th:replace = "features/fieldvalidator/field-validator :: fieldValidator"></div>
    </div>
</main>
</body>
</html>

