<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="footerHead">
        <link rel="stylesheet" th:href="@{/css/core/layouts/footer/footer.css}">
    </th:block>
</head>
<body>
<footer th:fragment="footer"> </footer>
</body>
</html>

