<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="headerHead">
        <link  rel="stylesheet" media="screen" th:href="@{/css/core/layouts/header/header.css}"/>
    </th:block>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg" th:fragment="header">
        <h1 class="header-h1">Field Validator</h1>
    </nav>
</header>
</body>
</html>