#widget-toggle-button .switch {
	 position: relative;
	 display: inline-block;
	 width: 60px;
	 height: 25px;
}
 #widget-toggle-button .switch input {
	 opacity: 0;
	 width: 0;
	 height: 0;
}
 #widget-toggle-button .switch input:checked + .slider {
	 background-image: linear-gradient(to right, #019fb6, #00525e);
}
 #widget-toggle-button .switch input:checked + .slider::before {
	 -webkit-transform: translateX(36px);
	 -ms-transform: translateX(36px);
	 transform: translateX(36px);
}
 #widget-toggle-button .switch input:focus + .slider {
	 box-shadow: 0 0 5px #81c8fa;
}
 #widget-toggle-button .switch .slider {
	 position: absolute;
	 cursor: pointer;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 background-color: #7c7c7c;
	 -webkit-transition: 0.4s;
	 transition: 0.4s;
}
 #widget-toggle-button .switch .slider.round {
	 border-radius: 34px;
}
 #widget-toggle-button .switch .slider.round:before {
	 border-radius: 50%;
}
 #widget-toggle-button .switch .slider:before {
	 position: absolute;
	 content: "";
	 height: 17px;
	 width: 17px;
	 left: 4px;
	 bottom: 4px;
	 background-color: white;
	 -webkit-transition: 0.4s;
	 transition: 0.4s;
}
 