<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment = "articleMainHead">
        <link rel="stylesheet" th:href = "@{/css/shared/widgets/articleMain.css}">
        <th:block th:replace="~{shared/widgets/article-widgets/article-sub :: articleSubHead}"></th:block>
    </th:block>
</head>
<body>
<div th:fragment = "articleMain(articleSub)" class="widget-article-main">
    <article class="info">
        <th:block th:replace="${articleSub}"></th:block>
    </article>
</div>
</body>
</html>

