<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Default list item</title>
    <th:block th:fragment="defaultListItemHead">
        <link rel="stylesheet" th:href="@{/css/shared/widgets/list-item.css}">
        <th:block th:replace="shared/widgets/list-item-widgets/top-bar :: topBarHead"></th:block>
        <th:block th:replace="shared/widgets/list-item-widgets/bottom-bar :: bottomBarHead"></th:block>
        <th:block th:replace="shared/widgets/list-item-widgets/action-bar :: actionBarHead"></th:block>
        <script th:src="@{/js/shared/widgets/list-item.js}"></script>
    </th:block>
</head>
<body>
<div th:fragment="itemList" th:with="bottomBar = ${bottomBar},
      listInfoBar = ${listInfoBar},
      topBar = ${topBar},
      listID = ${listID}" class="h-100" th:id="${listID} ?: 'widget-list-item'">

    <div class="lst">
        <th:block th:if="${topBar}  != null">
            <div th:replace="${topBar}"></div>
        </th:block>
        <ul class="list-unstyled components">
            <th:block th:if="${listInfoBar}  != null">
                <div th:replace="${listInfoBar}"></div>
            </th:block>
        </ul>
        <th:block th:if="${bottomBar} != null">
            <div th:replace="${bottomBar}"></div>
        </th:block>
    </div>
</div>
</body>
</html>