<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment = "switchHead">
        <link  rel="stylesheet" th:href = "@{/css/shared/widgets/switch.css}">
    </th:block>
</head>
<body>
<div th:fragment = "switch(switches)"   id="widget-switch">
    <div th:if="${switches} != null" class="switch-field">
        <div th:each = "switch : ${switches}">
            <input th:checked = "${switch.checked}" type="radio" th:id="'widget-switch-' + ${switch.id}" name="switch-two" th:value="${switch.value}"/>
            <label th:text = "${switch.text}" th:for="'widget-switch-'  + ${switch.id}"></label>
        </div>
    </div>
</div>
</body>
</html>

