<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>List Field</title>
    <th:block th:fragment="fieldListHead">
        <th:block th:replace="shared/widgets/default-list-item :: defaultListItemHead"></th:block>
        <link rel="stylesheet" th:href="@{/css/features/fieldvalidator/view/list-pane/list-field.css}">
        <script th:src="@{/js/features/fieldvalidator/view/listpane/list-field.js}">
        </script>
    </th:block>
</head>

<body>
    <div class="field-list" id="feature-field-list" th:fragment="fieldList">
        <div th:replace="shared/widgets/default-list-item :: itemList(bottomBar = ~{::bottomBar}, listInfoBar = ~{::plainList},topBar = ~{::topBar})">

            <th:block th:fragment="topBar">
                <div th:replace=" ~{shared/widgets/list-item-widgets/top-bar :: itemSwitch(switches = ${T(com.satish.fieldvalidator.ui.util.SwitchConstant.StatusSwitch).defaultValue()})}"></div>
            </th:block>

            <th:block th:fragment = "plainList">
                <th:block th:each="item : ${fields}">
                    <div th:fragment = "fieldListItem" th:replace="~{shared/widgets/list-item-widgets/list-info-bar ::
                    plainList(
                    item = ${item},
                    actionBar = ~{shared/widgets/list-item-widgets/action-bar :: itemToggleButton(${item.checked})}
                    )}"></div>
                </th:block>
            </th:block>

            <th:block th:fragment="bottomBar">
                <div th:replace="~{shared/widgets/list-item-widgets/bottom-bar :: itemSearchBar}"></div>
            </th:block>

        </div>
    </div>
</body>
</html>